.header {
    .top {
        height: 30px;
        line-height: 30px;
        background-color: #616161;
        .w1100 {
            display: flex;
            justify-content: space-between;
            .user-info {
                .user {
                    position: relative;
                    .aa {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            margin-left: 5px;
                            font-size: 14px;
                        }
                    }
                    ul {
                        display: none;
                        position: absolute;
                        z-index: 11;
                        width: 100%;
                        min-width: 110px;
                        top: 30px;
                        left: 0;
                        background: #fff;
                        box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .1);
                        li {
                            display: block;
                            color: #4d4d4d;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                            a {
                                color: #4d4d4d;
                                height: 100%;
                                &:hover {
                                    background: $background-color;
                                    color: $base-color;
                                }
                            }
                        }
                    }
                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }
            }
            ul.notice {
                color: $base-color;
                // height: 30px;
                // line-height: 30px;
                position: relative;
                overflow: hidden;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                li {
                    position: relative;
                    width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    top: 0;
                    height: 30px;
                    line-height: 30px;
                    left: 30px;
                    cursor: pointer;
                    animation: scroll 10s 1s infinite;
                    a {
                        color: $base-color;
                    }
                }
                &:hover li {
                    animation-play-state: paused;
                }
            }
            .gglb {
                position: absolute;
                width: 34px;
                height: 30px;
                top: 0;
                left: -10px;
                background: url('../../assets/images/gglb.png') center no-repeat;
            }
            ul.user-info {
                color: #fff;
                display: flex;
                justify-content: center;
                li.tel {
                    margin-right: 22px;
                }
                li {
                    display: inline-block;
                    a {
                        display: flex;
                        justify-content: center;
                        height: 30px;
                        padding: 0 22px;
                        color: #fff;
                        &:hover {
                            color: $base-color;
                        }
                    }
                }
            }
        }
    }
    .nav {
        height: 90px;
        // overflow: hidden;
        .w1100 {
            height: 90px;
            .logo {
                position: relative;
                left: -20px;
                width: 175px;
                float: left;
                img {
                    width: 100%;
                    margin-top: 15px;
                }
            }
            ul {
                float: left;
                height: 90px;
                line-height: 90px;
                li {
                    display: inline-block;
                    height: 90px;
                    line-height: 90px;
                    >a {
                        color: #4d4d4d;
                        display: inline-block;
                        padding: 0 30px;
                        font-size: 16px;
                        position: relative;
                        &:hover {
                            color: #465777;
                        }
                    }
                    >a:hover:before {
                        display: block;
                        content: '';
                        width: 90%;
                        position: absolute;
                        left: 5%;
                        bottom: 13px;
                        border-bottom: 3px solid #3dcc9a;
                    }
                    >a:hover:after {
                        display: block;
                        content: '';
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: 11px;
                        background: url('../../assets/images/nav-down.png') center no-repeat;
                    }
                    >a.active {
                        font-size: 18px;
                        color: #465777;
                        &:before {
                            display: block;
                            content: '';
                            width: 90%;
                            position: absolute;
                            left: 5%;
                            bottom: 12px;
                            border-bottom: 3px solid #3dcc9a;
                        }
                        &:after {
                            display: block;
                            content: '';
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            left: 50%;
                            margin-left: -7px;
                            bottom: 11px;
                            background: url('../../assets/images/nav-down.png') center no-repeat;
                        }
                    }
                }
            }
            .gongqiu {
                &:hover {
                    .second-nav {
                        display: block;
                    }
                }
                .second-nav {
                    display: none;
                    width: 100%;
                    height: 130px;
                    line-height: 130px;
                    background: rgba(1, 39, 44, .8);
                    position: absolute;
                    top: 120px;
                    left: 0;
                    z-index: 111;
                    text-align: center;
                    a {
                        font-size: 16px;
                        color: #3dcc9a;
                    }
                    a:nth-child(1) {
                        margin-right: 140px;
                    }
                    .buy {
                        display: inline-block;
                        position: relative;
                        top: 0;
                        &:before {
                            display: block;
                            content: '';
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            left: -60px;
                            top: 34px;
                            background: url('../../assets/images/buy.png');
                        }
                        &:hover {
                            transition: all 1s;
                            top: -5px;
                        }
                    }
                    .sell {
                        display: inline-block;
                        position: relative;
                        top: 0;
                        &:before {
                            display: block;
                            content: '';
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            left: -60px;
                            top: 34px;
                            background: url('../../assets/images/sell.png');
                        }
                        &:hover {
                            transition: all 1s;
                            top: -5px;
                        }
                    }
                }
            }
            .price {
                &:hover {
                    .second-nav {
                        display: block;
                    }
                }
                .second-nav {
                    display: none;
                    width: 100%;
                    height: 130px;
                    z-index: 111;
                    line-height: 130px;
                    background: rgba(3, 26, 66, .8);
                    position: absolute;
                    top: 120px;
                    left: 0;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin-right: 90px;
                        font-size: 16px;
                        color: #4071d4;
                        &:hover {
                            color: #92b6ff;
                        }
                    }
                }
            }
        }
    }
}

.float-box {
    display: none;
    position: fixed;
    z-index: 220;
    top: 40%;
    right: 5px;
    .btn {
        width: 62px;
        height: 62px;
        background: rgba(0, 0, 0, .4);
        margin-bottom: 2px;
        border-radius: 5px;
        // overflow: hidden;
        cursor: pointer;
    }
    .scrollTop {
        background: url('../../assets/images/top.png') center no-repeat;
    }
    .wechat {
        position: relative;
        background: url('../../assets/images/wechat.png') center no-repeat;
        &:hover {
            .qr {
                display: block;
            }
        }
        .qr {
            box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, .1);
            display: none;
            padding: 15px;
            border-radius: 5px;
            overflow: hidden;
            background: #fff;
            position: absolute;
            z-index: 222;
            right: 82px;
            top: -20px;
            p {
                text-align: center;
                color: $base-color;
            }
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

.show {
    display: block;
}

@keyframes scroll {
    0% {
        top: 0px;
    }
    20% {
        top: -30px;
    }
    40% {
        top: -60px;
    }
    60% {
        top: -90px;
    }
    80% {
        top: -120px;
    }
    100% {
        top: -150px;
    }
}