body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
ul,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
}
html,body {
  height: 100%;
}

i,
b,
del,
em {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: normal;
}

input::-webkit-input-safebox-button {
  display: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*滚动条样式*/
/* .el-table__body-wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgb(138, 197, 255);
  background: rgba(0, 0, 0, 0.1);
}

.el-table__body-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgb(138, 197, 255);
  border-radius: 0;
  background: rgb(238, 238, 238);
} */

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  background-color: #fff;
  color: #7d7d7d;
  font-size: 12px;
}